$blades-grey: #282a2c;
$white: darken(white, 10%);

a {
    text-decoration: none;
    color: $white;
    background-color: $blades-grey;
    &:hover {
        background-color: red;
    }
}

.chosenSection {
    background-color: red;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.generator-layout {
    width: 100%;
    display: flex;
    flex-direction: column;
    .navigation-layout {
        position: fixed;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        background-color: $blades-grey;
        padding: 1rem;
        font-size: 1rem;
    }
    .body-section {
        padding-top: 4rem;
    }
    .credits-section {
        text-align: center;
        align-items: center;
        padding: 1rem;
        .center-text {
            width: max-content;
        }
    }
}

// TABLET
@media only screen and (min-width: 768px) {
    .generator-layout {
        display: grid;
        grid-gap: 0.5rem;
        grid-template-columns: min-content 1fr;
        grid-template-rows: min-content 1fr;
        grid-template-areas: 
            "nav        body"
            "credits    credits";
        .navigation-layout {
            position: unset;
            grid-area: nav;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;
            background-color: unset;
            text-align: start;
            padding: 0 0.5rem 0 0;
        }
        .body-section {
            padding-top: 0rem;
            grid-area: body;
        }
        .credits-section {
            grid-area: credits;
        }

    }
}

// SMALL LAPTOP
@media only screen and (min-width: 1024px) {
    .generator-layout {
        max-width: 85%;
        margin: auto;
    }
}

@media only screen and (min-width: 1366px) {
    .generator-layout {
        max-width: 100%;
        margin: unset;
    }
}

@media only screen and (min-width: 1441px) {
    .generator-layout {
        max-width: 85%;
        margin: auto;
    }
}
