<div class="generator-layout">
  <div class="navigation-layout">
    <strong [ngClass]="{'chosenSection': currentSection === 'scoundrel'}" (click)="swapSection('scoundrel')" class="clickable">SCOUNDREL</strong>
    <strong [ngClass]="{'chosenSection': currentSection === 'devil'}" (click)="swapSection('devil')" class="clickable">DEVIL</strong>
  </div>
  
  <div class="body-section">
    @if (currentSection === 'scoundrel') {
      <app-scoundrel-generator></app-scoundrel-generator>
    } @else if (currentSection === 'devil') {
      <app-devil-generator></app-devil-generator>
    }
  </div>

  <div class="credits-section flex-column">
    <strong class="clickable center-text" (click)="copyToClipboard()">{{ copied ? 'COPIED TO CLIPBOARD' : 'COPY TO CLIPBOARD?' }}</strong>
    <strong (click)="swapTheme()" class="clickable center-text">CURRENT THEME: {{ whatTheme | titlecase }}</strong>
    <span>WHAT SCOUNDREL LURCHES v1.02 is an independent production by <strong><a href='https://twitter.com/codeLiches' target="_blank">&#64;codeLiches</a></strong> and is not affliated with One Seven Design or John Harper.</span>
  <span>This work is based on <strong><a target="_blank" href="http://www.bladesinthedark.com/">Blades in the Dark</a></strong>, product of One Seven Design, developed and authored by John Harper, and licensed for our use under the <strong><a target="_blank" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported</a></strong> license.</span>
  </div>
</div>


