<div class="scoundrel-grid">
  <header class="content-info-section">
    <h1 class="kristy-font">WHAT SCOUNDREL LURCHES ?</h1>
    <em><span class="rotate-arrow">&#8626;</span>randomized NPCs compatible with <span class="kristy-font">BLADES IN THE DARK</span></em>
  </header>
  
  <div class="content-info-section">
    <strong class="clickable center-text" (click)="rerollAll()">SOME NEW SCOUNDREL SLITHERS</strong>
    <em><span class="rotate-arrow">&#8626;</span>click to re-roll all</em>
  </div>
  
  <section>
    <h2><em>identity</em></h2>
    <div class="border-top">
      From the filthy streets of Doskvol,
      <strong class="clickable" (click)="rerollFirstName()">{{ firstNameObj.descrip }}</strong>
      <strong class="clickable left-margin" (click)="rerollLastName()">{{ lastNameObj.descrip }}</strong>
      ( <strong class="clickable" (click)="rerollFirstPronouns()">{{ firstPronounsObj.descrip }}</strong>/<strong class="clickable" (click)="rerollLastPronouns()">{{ lastPronounsObj.descrip}}</strong> )
          aka <strong class="clickable" (click)="rerollAlias()">{{ aliasObj.descrip }}</strong>
      approaches.
    </div>
  </section>

  <section>
    <h2><em>looks</em></h2>
    <div class="border-top flex-column">
      <div>
        {{ firstPronounsObj.descrip }} {{ firstPronounsObj.descrip === 'They' ? 'appear' : 'appears'}}
        to be {{ lookObj.descrip === 'ambiguous' || lookObj.descrip === 'concealed' ? '' : 'a' }}
        <strong class="clickable" (click)="rerollTraits()">{{ traitsObj.descrip }}</strong>
        @if (lookObj.descrip === 'ambiguous' || lookObj.descrip === 'concealed') {
          and
        }
        <strong class="clickable" (click)="rerollLook()">{{ lookObj.descrip }}</strong>.
        {{ firstPronounsObj.descrip }} {{ firstPronounsObj.descrip === 'They' ? 'hail' : 'hails'}} from
        <strong class="clickable" (click)="rerollHeritage()">{{ heritageObj.descrip }}</strong>, and {{ firstPronounsObj.descrip | lowercase }} {{ firstPronounsObj.descrip === 'They' ? 'have' : 'has' }} <strong class="clickable" (click)="rerollSkin()">{{ skinObj.descrip }}</strong> skin
        and a <strong class="clickable" (click)="rerollBuild()">{{ buildObj.descrip }}</strong> build. {{ firstPronounsObj.descrip === 'They' ? 'Their' : firstPronounsObj.descrip === 'He' ? 'His' : 'Her' }} most distinguishing {{ heritageObj.descrip === 'Tycheros' ? 'features are' : 'feature is' }} <strong class="clickable" (click)="rerollDistinguish()"> {{ firstPronounsObj.descrip !== 'They' ? distinguishObj.descrip.replace('their', firstPronounsObj.descrip === 'He' ? 'his' : 'her') : distinguishObj.descrip }}</strong>
        @if (heritageObj.descrip === 'Tycheros') {
          and {{ firstPronounsObj.descrip === 'They' ? 'their' : firstPronounsObj.descrip === 'He' ? 'his' : 'her' }} <strong class="clickable" (click)="rerollTycherosiDistinguish()">{{ tycherosiObj.descrip }}</strong>
        }.
      </div>
      <div>
        {{ firstPronounsObj.descrip }} {{ firstPronounsObj.descrip === 'They' ? 'are' : 'is' }} currently sporting {{ stylesObj.descrip.match('^[aieoAIEO].*') ? 'an' : 'a' }} <strong class="clickable" (click)="rerollStyles()">{{ stylesObj.descrip | lowercase }}</strong>.
      </div>
    </div>
  </section>

  <section>
    <h2><em>profession, goals, & methods</em></h2>
    <div class="border-top">
      {{ firstNameObj.descrip }} is gainfully employed as {{ professionObj.descrip.match('^[aieoAIEO].*') ? 'an' : 'a' }} <strong class="clickable" (click)="rerollProfession()">{{ professionObj.descrip }}</strong> and yearns <strong class="clickable" (click)="rerollGoals()">{{ firstPronounsObj.descrip !== 'They' ? goalsObj.descrip.replace('their', firstPronounsObj.descrip === 'He' ? 'his' : 'her') : goalsObj.descrip }}</strong>.
      {{ firstPronounsObj.descrip }} often resorts to <strong class="clickable" (click)="rerollMethods()">{{ firstPronounsObj.descrip !== 'They' ? methodsObj.descrip.replace('their', firstPronounsObj.descrip === 'He' ? 'his' : 'her') : methodsObj.descrip }}</strong> in order to further that goal.
    </div>
  </section>

  <section>
    <h2><em>intersts & quirks</em></h2>
    <div class="border-top">
      During {{firstPronounsObj.descrip === 'They' ? 'their' : firstPronounsObj.descrip === 'He' ? 'his' : 'her' }} downtime {{ firstPronounsObj.descrip | lowercase }} often {{ firstPronounsObj.descrip === 'They' ? 'enjoy' : 'enjoys' }} <strong class="clickable" (click)="rerollInterests()">{{ firstPronounsObj.descrip !== 'They' ? interestObj.descrip.replace('their', firstPronounsObj.descrip === 'He' ? 'his' : 'her') : interestObj.descrip }}</strong>.
    </div>
  </section>
</div>